@model Application.Entities.Trip

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item1 in ViewBag.offices)
        {
            if (item1.Id == Model.FromOffice) { ViewData["Name1"] = item1.Name; }
            if (item1.Id == Model.ToOffice) { ViewData["Name2"] = item1.Name; }
        }
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromOffice)
        </dt>
        <dd>
            @ViewData["Name1"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToOffice)
        </dt>
        <dd>
            @ViewData["Name2"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TripStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripStatus)
        </dd>


        <dt>
            Flight tickets
        </dt>
        <dd>
            @ViewBag.FlightTicketStatus
        </dd>
        @if (ViewBag.FlightTicketStatus != Application.Entities.TicketStatusEnum.NotRequired)
        {
            <dd>
                @*@Html.ActionLink("Add flight", "Create", "FlightInformationController")*@
                <a asp-controller="FlightInformation" asp-action="Create" asp-route-id="@Model.Id">Add/Change flight</a>
            </dd>
        }
        @if (ViewBag.FlightTicketStatus == Application.Entities.TicketStatusEnum.Booked)
        {
            <dd>
                <a asp-controller="FlightInformation" asp-action="Details" asp-route-id="@Model.Id">Show flight Info</a>
            </dd>
        }
            <dt>
                Rental car
            </dt>
            <dd>
                @ViewBag.CarRental
            </dd>
            @if (ViewBag.CarRental != Application.Entities.CarRentalEnum.NotRequired)
            {
                <dd>

                    <a asp-controller="RentalCarInformation" asp-action="Create" asp-route-id="@Model.Id">Add/Change rental car</a>

                </dd>
            }
            @if (ViewBag.CarRental == Application.Entities.CarRentalEnum.Booked)
            {
                <dd>
                    <a asp-controller="RentalCarInformation" asp-action="Details" asp-route-id="@Model.Id">Show rental car Info</a>
                </dd>
            }
            <dt>
                Accomodation
            </dt>
            <dd>
                @ViewBag.AccomodationStatus @*TODO - change to accomodation status*@
            </dd>
            
            @if (ViewBag.AccomodationStatus != Application.Entities.AccomodationStatusEnum.NotRequired)
            {
            <dd>
                @*@Html.ActionLink("Add flight", "Create", "FlightInformationController")*@
                <a asp-controller="Accomodation" asp-action="Create" asp-route-id="@Model.Id">Add/Change Accomodation information</a>
            </dd>
            }
            @if (ViewBag.AccomodationStatus == Application.Entities.AccomodationStatusEnum.Booked)
            {
                <dd>
                    <a asp-controller="Accomodation" asp-action="Details" asp-route-id="@Model.Id">Show Accomodation information</a>
                </dd>
            }
        </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Email
                </th>
                <th>
                    Role
                </th>
                <th>
                    AcceptedInvitation
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Participators)
            {
                @foreach (var item1 in ViewBag.tp)
                {
                    if (item1.UserId == item.Id && item1.TripId == Model.Id) { ViewData["Name3"] = item1.Approve; }
                }
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Role
                    </td>
                    <td>
                        @ViewData["Name3"]
                    </td>
                    <td>
                        @Html.ActionLink("User Calendar For Organizer", "ShowEvents", "Events", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
