@model IEnumerable<Application.Entities.Trip>

@{
    ViewData["Title"] = "Index";
}

<h2>Trips</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <div>

        @Html.ValidationSummary()

    </div>
    <div style="float:right;">
        <input type="submit" value="Merge trips" formaction=@Url.Action("Merge", "Trip") formmethod="post" />
    </div>

@*<p class="right">
        <a asp-action="Merge">Merge trips</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromOffice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToOffice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @foreach (var item1 in ViewBag.offices)
            {
                if (item1.Id == item.FromOffice) { ViewData["Name1"] = item1.Name; }
                if (item1.Id == item.ToOffice) { ViewData["Name2"] = item1.Name; }
            }
            <tr>
                <td>
                    <input type="checkbox" name="mergeInputs" value="@item.Id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @ViewData["Name1"]
                </td>
                <td>
                    @ViewData["Name2"]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}