@model Application.Entities.AccomodationInfo

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Accomodation information</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.HotelRequired == true)
        {
        <u>There are no available rooms at specified dates, please insert hotel name and cost</u>
        }
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="TripId" class="control-label"></label>
            <input asp-for="TripId" class="form-control" />
            <span asp-validation-for="TripId" class="text-danger"></span>*@
                @Html.Hidden("TripId", Model.TripId)


            </div>
            @if (ViewBag.HotelRequired == true)
            {

                <div class="form-group">
                    <label asp-for="HotelName" class="control-label"></label>
                    <input asp-for="@Model.HotelName" class="form-control" />
                    <span asp-validation-for="HotelName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Cost" class="control-label"></label>
                    <input asp-for="@Model.Cost" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
            }
            else
            {
                @Html.Hidden("HotelName", "")
                @Html.Hidden("Cost", 0)
            }
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for='@Model.Start' class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="@Model.End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Hidden("AccomodationStatus", 2)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Details" asp-controller="Trip" asp-route-id="@Model.TripId">Back to trip</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
