@model Int32

@{
    ViewData["Title"] = "DetailsView";
}

<h2>DetailsView</h2>
<div>
    <h4>Accomodation for selected trip</h4>
    <hr />
    <dl class="dl-horizontal">
        @{
            ViewData["ApartmentTitle"] = "";

        }


            @foreach (Application.Entities.ApartmentRoom apartmentRoom in ViewBag.ApartmentRooms)
            {
                if (apartmentRoom.Id == ViewBag.Accomodation.ApartmentRoomId)
                {
                    ViewData["ApartmentRoomNumber"] = apartmentRoom.RoomNumber;
                    if ((string)ViewData["ApartmentTitle"] == "")
                    {
                        foreach (Application.Entities.Apartment apartment in ViewBag.Apartments)
                        {
                            if (apartmentRoom.ApartmentId == apartment.Id)
                            {
                                ViewData["ApartmentTitle"] = apartment.Title;
                                break;
                            }

                        }
                    }
                    break;
                }

            }
        @if (ViewBag.Accomodation.HotelName != null)
        {
            <dt>
                Hotel name
            </dt>
            <dd>
                @ViewBag.Accomodation.HotelName
            </dd>
            <dt>
                Cost
            </dt>
            <dd>
                @ViewBag.Accomodation.Cost
            </dd>
        }
        else
        {
            <dt>
                Apartment title
            </dt>
            <dd>
                @ViewData["ApartmentTitle"]
            </dd>
            <dt>
                Room number
            </dt>
            <dd>
                @ViewData["ApartmentRoomNumber"]
            </dd>
        }
        <dt>
            Start
        </dt>
        <dd>
            @ViewBag.Accomodation.Start
        </dd>
        <dt>
            End
        </dt>
        <dd>
            @ViewBag.Accomodation.End
        </dd>
    </dl>
</div>
<div>
    <a asp-action="DetailsView" asp-controller="Trip" asp-route-id="@Model">Back to trip</a>
</div>
